#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.music-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
}